body{
background-color: #f9f6f6;
margin:0;
}



*{
	box-sizing: border-box;
}
.full-background-img{
	position:fixed;
	max-width:50%;
	left:50%;
	width:100%;
	top:125px;
	max-height:75%;
	z-index:-1;
	opacity:0.7;
}
.full-spacer{
	padding-bottom:80%;
}

.background-img{
	width: 25%;
	position: fixed;
	left: 70%;
	top: 30%; 
	opacity: 0.7;
	z-index:-1;
}
.col-1 {width: 25%;}
.col-2 {width:50%;}
.col-3 {width:75%;}
.col-4 {width:100%;}

.header{
padding:0 !important;
position: fixed;
top:0;
left:0;
z-index: 2;
background-color: #f9f6f6;
}

[class*="col-"] {float: left;padding: 15px;}
@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .col-1{width:50%;}
  .col-space{width:0;padding:0;}
  
  .background-img{
	  width:70%;
	  left:25%;
	  opacity:.4;
	  top:15%
  }
  .full-background-img{
	  left:0;
	  max-width:100%;
	  max-height:75%;
  }
  .full-spacer{
	  padding-bottom:120%;
  }
  /*.header{
	  background-color: #f3f0f0;
  }*/
}




.row::after {
  content: "";
  clear: both;
  display: table;
}


input[type=range] {
  height: 17px;
  -webkit-appearance: none;
  width:96%;
  opacity:.7;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000;
  background: #F9F6F6;
  border-radius: 8px;
  border: 2px solid #555555;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #555555;
  height: 10px;
  width: 11px;
  border-radius: 9px;
  background: #F9F6F6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F9F6F6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000;
  background: #F9F6F6;
  border-radius: 8px;
  border: 2px solid #555555;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #555555;
  height: 10px;
  width: 11px;
  border-radius: 9px;
  background: #F9F6F6;
  cursor: pointer;
}



.audio-player{
position: fixed;
bottom: 0;
background-color:#f9f6f6;
overflow:hidden;
white-space:nowrap;
width:100%;
}
.play-button{
	float:left;
}
.progress{

}
.audio-name{
	float:left;
}

.mute{
	float:left;
}

.volume{
	
}
.container{
	float:left;
}
.contained{
	margin-left: 10px;
	margin-right:10px;
	margin-top:12.5px;
}

h1{
width: 100%;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Jim Nightshade', cursive;
text-align: center;
font-size: 300%;
color: #333333;
opacity: .7;
}



.content{
margin-top: 0;
font-family: 'IBM Plex Sans', sans-serif;
word-spacing: 30%;
text-align:left;
font-size: 150%;
color: #555555;
}

.note{

overflow: hidden;
font-family: 'Jim Nightshade', cursive;
font-size: 120%;
display: block;
}



blockquote{
border-left-style: solid;
border-color: grey;
padding-left: 5px;
float: left;
margin-bottom: 10%;
margin-left:0;
}



.story{
font-family: 'Jim Nightshade', cursive;
font-size: 200%;
word-spacing: 30%;
letter-spacing: -2px;
}